# 1. Lists

In [1]:
user_name = 'Akash'
phone_no = 92123874128
address = 'delhi'
batch = 'd-10'
email = 'akash@gmail.com'
gender = ''
dob = ''
education_background = ''
isWorking = True

In [7]:
user_1 = ['Akash',92123874128,'delhi','d-10']

In [9]:
user_1.append(12)

In [8]:
user_1

['Akash', 92123874128, 'delhi', 'd-10']

In [10]:
user_1

['Akash', 92123874128, 'delhi', 'd-10', 12]

In [11]:
user_1[0] = 'Manish'

In [12]:
user_1

['Manish', 92123874128, 'delhi', 'd-10', 12]

# 1.2) Practice List

1.2.1) Append all the even numbers between 0-100 into the list.

In [13]:
lst = []

for i in range(2,100,2):
  lst.append(i)

print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

1.2.2) Sum of all the elements of a list.

In [14]:
s = 0

for i in range(len(lst)):
  s = s + lst[i]

print(s)

2450

1.2.3) Sum of all the even place elements of a list.

In [15]:
sum_even = 0

for i in range(len(lst)):
  if i%2 == 0:
    sum_even = sum_even + lst[i]

print(sum_even)

1250

1.2.4) Sum of all the odd place elements of a list.

In [16]:
sum_odd = 0

for i in range(len(lst)):
  if i%2 != 0:
    sum_odd = sum_odd + lst[i]

print(sum_odd)

1200

1.2.5) Difference between even and off place element sum of a list.

In [17]:
print(sum_even - sum_odd)

50

In [18]:
n = int(input('enter a number : '))

# 5 ,100, 12300, 1287782231

s = 0
for i in range(n+1):
  s += i
print(s)

enter a number : 6
21

In [19]:
1 = 1
2 = 3
3 = 6 (3*2)
4 = 10 (4*2.5)
5 = 15 (5*3)
6 = 21 (6*3.5)
7 = 28 (7*4)
8 = 36 (8*4.5)

3 = 6 (3*2)
5 = 15 (5*3)
7 = 28 (7*4)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (ipython-input-19-435460157.py, line 1)

In [20]:
n = 8

print(n * ((n//2) + .5))

36.0

In [21]:
n = 26598326498239841

print(n * ((n//2) + 1))

353735486253483854526798828972561

In [22]:
n = 6
print(n*(n+1)//2)

21