# Assignment Questions

# **(i) Basic**

1. Print numbers from 1 to 10 using a for loop.

In [28]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Print even numbers from 1 to 20.

In [29]:
for i in range(2, 21, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20

3. Print odd numbers from 1 to 20.

In [30]:
for i in range(1, 21, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

4. Print the squares of numbers from 1 to 10.

In [31]:
for i in range(1, 11):
  print(i ** 2)

1
4
9
16
25
36
49
64
81
100

5. Print all numbers from 10 to 1 in reverse order.

In [32]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

6. Print the multiplication table of a given number.

In [33]:
num = 5
for i in range(1, 11):
  print(num, "x", i, "=", num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

7. Print all numbers between 1 and 50 divisible by 3.

In [34]:
for i in range(1, 51):
  if i % 3 == 0:
    print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

8. Print the cube of numbers from 1 to 5.

In [35]:
for i in range(1, 6):
  print(i ** 3)

1
8
27
64
125

9. Print numbers from 1 to 100 that are multiples of 7.

In [36]:
for i in range(1, 101):
  if i % 7 == 0:
    print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

10. Print the first 20 natural numbers.

In [37]:
for i in range(1, 21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# **(ii) Intermediate**

1. Print all two-digit numbers.

In [38]:
for i in range(10, 100):
  print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

2. Print all numbers between 1 and 100 that are not divisible by 2 and 3.

In [39]:
for i in range(1, 101):
  if i % 2 != 0 and i % 3 != 0:
    print(i)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49
53
55
59
61
65
67
71
73
77
79
83
85
89
91
95
97

3. Calculate and print the sum of numbers from 1 to n.

In [40]:
n = 10
total = 0
for i in range(1, n+1):
  total += i
print("Sum is: ", total)

Sum is:  55

4. Calculate and print the product (factorial) of a given number.

In [41]:
n = 5
fact = 0
for i in range(1, n+1):
  total *= i
print("Factorial is", total)

Factorial is 6600

5. Print the table of any number from 1 to 10.

In [58]:
num = 8
for i in range(1, 11):
  print(num, "x", i, "=", num*i)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

6. Print all numbers from 1 to 100 that end with 5.

In [43]:
for i in range(1, 101):
  if i % 10 == 5:
    print(i)

5
15
25
35
45
55
65
75
85
95

7. Print numbers from 1 to n in steps of 3.

In [44]:
n = 30
for i in range(1, n+1, 3):
  print(i)

1
4
7
10
13
16
19
22
25
28

8. Print all numbers between 1 and 100 whose square is less than 500.

In [45]:
for i in range(1, 101):
  if i * i < 500:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

9. Print the sum of the squares of the first 10 natural numbers.

In [46]:
total = 0
for i in range(1, 11):
  total += i ** 2
print("Sum of squares is: ", total)

Sum of squares is:  385

10. Print numbers from 1 to n, skipping every alternate number.

In [47]:
n = 20
for i in range(1, n+1, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

# **(iii) Advanced**

1. Print all prime numbers between 1 and 50.

In [48]:
for num in range(2, 51):
  is_prime = True
  for i in range(2, int(num ** 0.5) + 1):
    if num % i == 0:
      is_prime = False
      break
    if is_prime:
      print(num)

5
7
9
11
11
13
13
15
17
17
17
19
19
19
21
23
23
23
25
25
25
27
29
29
29
29
31
31
31
31
33
35
35
35
37
37
37
37
37
39
41
41
41
41
41
43
43
43
43
43
45
47
47
47
47
47
49
49
49
49
49

2. Print all Armstrong numbers between 1 and 500.

In [49]:
for num in range(1, 501):
  digits = [int(d) for d in str(num)]
  power = len(digits)
  armstrong_sum = sum([d ** power for d in digits])
  if armstrong_sum == num:
    print(num)

1
2
3
4
5
6
7
8
9
153
370
371
407

3. Print all palindrome numbers between 10 and 200.

In [50]:
for num in range(10, 201):
  if str(num) == str(num)[::-1]:
    print(num)

11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191

4. Print the Fibonacci series up to n terms.

In [51]:
n = 10
a, b = 0, 1
for i in range(n):
  print(a)
  a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

5. Print numbers from 1 to 100, but for multiples of 3 print "Fizz", for multiples of 5 print "Buzz", and for multiples of both print "FizzBuzz".

In [52]:
for i in range(1, 101):
  if i % 3 == 0 and i % 5 == 0:
    print("Fizzbuzz")
  elif i % 3 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizzbuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizzbuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizzbuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizzbuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizzbuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizzbuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

6. Count and print the number of digits in a given number.

In [53]:
num = 12345
count = len(str(num))
print("Number of digits is: ", count)

Number of digits is:  5

7. Find and print the reverse of a given number.

In [54]:
num = 1234
reverse = len(str(num)[::-1])
print("Reverse number is: ", reverse)

Reverse number is:  4

8. Check and print if a given number is a perfect number.

In [55]:
num = 28
sum_factors = 0
for i in range(1, num):
  if num % i == 0:
    sum_factors += i
if sum_factors == num:
  print("Perfect number")
else:
  print("Not a perfect number")

Perfect number

9. Print the sum of digits of a given number.

In [56]:
num = 1234
digit_sum = sum(int(d) for d in str(num))
print("Sum of digits are: ", digit_sum)

Sum of digits are:  10

10. Print all numbers between 1 and 100 that have exactly 4 factors.

In [57]:
for num in range(1, 101):
  count = 0
  for i in range(1, n+1):
    if num % i == 0:
      count += 1
  if count == 4:
    print(num)

6
8
10
16
28
32
45
50
63
64
66
78
88