# 1. Lists

In [ ]:
user_name = 'Akash'
phone_no = 92123874128
address = 'delhi'
batch = 'd-10'
email = 'akash@gmail.com'
gender = ''
dob = ''
education_background = ''
isWorking = True

In [ ]:
user_1 = ['Akash',92123874128,'delhi','d-10']

In [ ]:
user_1.append(12)

In [ ]:
user_1

['Akash', 92123874128, 'delhi', 'd-10']

In [ ]:
user_1

['Akash', 92123874128, 'delhi', 'd-10', 12]

In [ ]:
user_1[0] = 'Manish'

In [ ]:
user_1

['Manish', 92123874128, 'delhi', 'd-10', 12]

# 1.2) Practice List

1.2.1) Append all the even numbers between 0-100 into the list.

In [ ]:
lst = []

for i in range(2,100,2):
  lst.append(i)

print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

1.2.2) Sum of all the elements of a list.

In [ ]:
s = 0

for i in range(len(lst)):
  s = s + lst[i]

print(s)

2450

1.2.3) Sum of all the even place elements of a list.

In [ ]:
sum_even = 0

for i in range(len(lst)):
  if i%2 == 0:
    sum_even = sum_even + lst[i]

print(sum_even)

1250

1.2.4) Sum of all the odd place elements of a list.

In [ ]:
sum_odd = 0

for i in range(len(lst)):
  if i%2 != 0:
    sum_odd = sum_odd + lst[i]

print(sum_odd)

1200

1.2.5) Difference between even and off place element sum of a list.

In [ ]:
print(sum_even - sum_odd)

50

In [ ]:
n = int(input('enter a number : '))

# 5 ,100, 12300, 1287782231

s = 0
for i in range(n+1):
  s += i
print(s)

enter a number : 6
21

In [ ]:
1 = 1
2 = 3
3 = 6 (3*2)
4 = 10 (4*2.5)
5 = 15 (5*3)
6 = 21 (6*3.5)
7 = 28 (7*4)
8 = 36 (8*4.5)

3 = 6 (3*2)
5 = 15 (5*3)
7 = 28 (7*4)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (ipython-input-19-435460157.py, line 1)

In [ ]:
n = 8

print(n * ((n//2) + .5))

36.0

In [ ]:
n = 26598326498239841

print(n * ((n//2) + 1))

353735486253483854526798828972561

In [ ]:
n = 6
print(n*(n+1)//2)

21

### 2. **Dictionary**

In [ ]:
user_name = 'Akash'
phone_no = 92123874128
address = 'delhi'
batch = 'd-10'
email = 'akash@gmail.com'
gender = ''
dob = ''
education_background = ''
isWorking = True

dct = {'roll_no' : 101, 'roll_no' : 102, 'name' : 'Manish', 'address' : 'noida', 'phone' : 1269841212}

In [2]:
dct = {101: {'name': 'Alice Johnson', 'address': '123 Main St, Anytown, CA 91234', 'phone': ['555-123-4567'], 'marks': {'eng': 85, 'hindi': 78, 'maths': 92}},
       102: {'name': 'Bob Williams', 'address': '456 Oak Ave, Somewhere, TX 75001', 'phone': ['555-987-6543'], 'marks': {'eng': 70, 'hindi': 88, 'maths': 75}},
       103: {'name': 'Charlie Brown', 'address': '789 Pine Ln, Elsewhere, FL 33101', 'phone': ['555-555-1212'], 'marks': {'eng': 95, 'hindi': 90, 'maths': 80}},
       104: {'name': 'Diana Miller', 'address': '101 Maple Dr, Anytime, NY 10001', 'phone': ['555-222-3333'], 'marks': {'eng': 88, 'hindi': 75, 'maths': 96}},
       105: {'name': 'Ethan Davis', 'address': '222 Elm Ct, Anywhere, IL 60601', 'phone': ['555-444-5555'], 'marks': {'eng': 78, 'hindi': 82, 'maths': 88}}}

In [5]:
dct

{101: {'name': 'Alice Johnson',
  'address': '123 Main St, Anytown, CA 91234',
  'phone': ['555-123-4567'],
  'marks': {'eng': 85, 'hindi': 78, 'maths': 92}},
 102: {'name': 'Bob Williams',
  'address': '456 Oak Ave, Somewhere, TX 75001',
  'phone': ['555-987-6543'],
  'marks': {'eng': 70, 'hindi': 88, 'maths': 75}},
 103: {'name': 'Charlie Brown',
  'address': '789 Pine Ln, Elsewhere, FL 33101',
  'phone': ['555-555-1212'],
  'marks': {'eng': 95, 'hindi': 90, 'maths': 80}},
 104: {'name': 'Diana Miller',
  'address': '101 Maple Dr, Anytime, NY 10001',
  'phone': ['555-222-3333'],
  'marks': {'eng': 88, 'hindi': 75, 'maths': 96}},
 105: {'name': 'Ethan Davis',
  'address': '222 Elm Ct, Anywhere, IL 60601',
  'phone': ['555-444-5555'],
  'marks': {'eng': 78, 'hindi': 82, 'maths': 88}}}

In [3]:
for key in dct.keys():

  total_marks = sum(list(dct[key]['marks'].values()))
  no_of_exams = len(list(dct[key]['marks'].values()))
  percentage  = round((total_marks/no_of_exams),2)

  print('Roll No     :', key)
  print('Name        :', dct[key]['name'])
  print('Address     :', dct[key]['address'])
  print('Phone No    :', dct[key]['phone'])
  print('Total Marks :', total_marks)
  print('no_of_exams :', no_of_exams)
  print('Percentage  :', percentage, "%")
  print('-'*30)

Roll No     : 101
Name        : Alice Johnson
Address     : 123 Main St, Anytown, CA 91234
Phone No    : ['555-123-4567']
Total Marks : 255
no_of_exams : 3
Percentage  : 85.0 %
------------------------------
Roll No     : 102
Name        : Bob Williams
Address     : 456 Oak Ave, Somewhere, TX 75001
Phone No    : ['555-987-6543']
Total Marks : 233
no_of_exams : 3
Percentage  : 77.67 %
------------------------------
Roll No     : 103
Name        : Charlie Brown
Address     : 789 Pine Ln, Elsewhere, FL 33101
Phone No    : ['555-555-1212']
Total Marks : 265
no_of_exams : 3
Percentage  : 88.33 %
------------------------------
Roll No     : 104
Name        : Diana Miller
Address     : 101 Maple Dr, Anytime, NY 10001
Phone No    : ['555-222-3333']
Total Marks : 259
no_of_exams : 3
Percentage  : 86.33 %
------------------------------
Roll No     : 105
Name        : Ethan Davis
Address     : 222 Elm Ct, Anywhere, IL 60601
Phone No    : ['555-444-5555']
Total Marks : 248
no_of_exams : 3
Percentage  : 82.67 %
------------------------------

In [4]:
for roll_no in dct.keys():
  print(roll_no, "|", dct[roll_no]['name'] , "|", dct[roll_no]['marks'].values())

101 | Alice Johnson | dict_values([85, 78, 92])
102 | Bob Williams | dict_values([70, 88, 75])
103 | Charlie Brown | dict_values([95, 90, 80])
104 | Diana Miller | dict_values([88, 75, 96])
105 | Ethan Davis | dict_values([78, 82, 88])

In [6]:
for i in dct.keys():
    print("Roll_No:", i)

    for j in dct[i].keys():
        print(j, dct[i][j])
        total_marks=0
        if(j=='marks'):
            for k in dct[i][j].keys():
                print(k, dct[i][j][k], end=", ")
                total_marks+=dct[i][j][k]
            print("\nTotal Marks: ", total_marks)
            perct=(total_marks/300)*100
            print("Percentage: ", perct)
    print("----------------------------------\n")

Roll_No: 101
name Alice Johnson
address 123 Main St, Anytown, CA 91234
phone ['555-123-4567']
marks {'eng': 85, 'hindi': 78, 'maths': 92}
eng 85, hindi 78, maths 92,
Total Marks:  255
Percentage:  85.0
----------------------------------

Roll_No: 102
name Bob Williams
address 456 Oak Ave, Somewhere, TX 75001
phone ['555-987-6543']
marks {'eng': 70, 'hindi': 88, 'maths': 75}
eng 70, hindi 88, maths 75,
Total Marks:  233
Percentage:  77.66666666666666
----------------------------------

Roll_No: 103
name Charlie Brown
address 789 Pine Ln, Elsewhere, FL 33101
phone ['555-555-1212']
marks {'eng': 95, 'hindi': 90, 'maths': 80}
eng 95, hindi 90, maths 80,
Total Marks:  265
Percentage:  88.33333333333333
----------------------------------

Roll_No: 104
name Diana Miller
address 101 Maple Dr, Anytime, NY 10001
phone ['555-222-3333']
marks {'eng': 88, 'hindi': 75, 'maths': 96}
eng 88, hindi 75, maths 96,
Total Marks:  259
Percentage:  86.33333333333333
----------------------------------

Roll_No: 105
name Ethan Davis
address 222 Elm Ct, Anywhere, IL 60601
phone ['555-444-5555']
marks {'eng': 78, 'hindi': 82, 'maths': 88}
eng 78, hindi 82, maths 88,
Total Marks:  248
Percentage:  82.66666666666667
----------------------------------

In [7]:
dct[101]['phone']

['555-123-4567']

In [8]:
'Sonasman Roychowdhuri'.split(' ')[0]

'Sonasman'

In [9]:
data = {'name': 'Alice Johnson',
 'address': '123 Main St, Anytown, CA 91234',
 'phone': ['555-123-4567'],
 'marks': {'eng': 85, 'hindi': 78, 'maths': 92}}

data['marks'] = 90

data

{'name': 'Alice Johnson',
 'address': '123 Main St, Anytown, CA 91234',
 'phone': ['555-123-4567'],
 'marks': 90}

In [ ]:
for roll_no in dct.keys():
  print(roll_no)

101
102
103
104
105